    <html>
    <head>
        <title>Spring Boot Mustache</title>
        <style>
            table {
                border-collapse: collapse;
            }

            table, td, th {
                border: 1px solid #999;
                padding: 5px;
            }
        </style>
    </head>
    <body>
    <h2>График платежей</h2>
    <table>
        <tr>
            <th>№</th>
            <th>Дата платежа</th>
            <th>Платеж в месяц</th>
            <th>Сумма в тело кредита</th>
            <th>Сумма в % кредита</th>
            <th>Остаток</th>
        </tr>

        {{#exit}}
            <tr>
                <td>{{countNumber}}</td>
                <td>{{dateFinall}}</td>
                <td>{{paymentA}}</td>
                <td>{{bodyCredit}}</td>
                <td>{{paymentPersent}}</td>
                <td>{{debit}}</td>
            </tr>
        {{/exit}}

    </table>
    </body>
    </html>