<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Bootstrap CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
</head>
<body>



<div>
    <h4>
        <p class="text-primary">Кредитный калькулятор</p>
    </h4>

</div>
<form method="post" action ="calc">



<!---------------------------------->

    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Размер кредита</span>
        </div>
        <input type="number" step="0.001" name="sizeCredit" class="form-control" placeholder="введите данные" aria-label="введите данные" aria-describedby="basic-addon1">
    </div>
    <!---------------------------------->

    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Размер первоначального платежа</span>
        </div>
        <input type="number" step="0.001" name="sizePayment" class="form-control" placeholder="введите данные" aria-label="введите данные" aria-describedby="basic-addon1">
    </div>

    <!---------------------------------->

    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Срок кредитования</span>
        </div>
        <input type="number" step="0.001" name="creditPeriod" class="form-control" placeholder="месяцев" aria-label="месяцев" aria-describedby="basic-addon1">
    </div>

    <!---------------------------------->

    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Тип платежа</span>
        </div>
        <input type="number" step="0.001" name="paymentType" class="form-control" placeholder="Введи 0 или 1: 0 - аннуитетный, 1 - дифференцированный" aria-label="Введи 0 или 1: 0 - аннуитетный, 1 - дифференцированный" aria-describedby="basic-addon1">
    </div>

    <!---------------------------------->

    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Ставка</span>
        </div>
        <input type="number" step="0.001" name="rate" class="form-control" placeholder="%" aria-label="%" aria-describedby="basic-addon1">
    </div>

    <!---------------------------------->

    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Срок начала платежа</span>
        </div>
        <input type="text" name="startDate" class="form-control" placeholder="ДД.ММ.ГГ" aria-label="ДД.ММ.ГГ" aria-describedby="basic-addon1">
    </div>
    <!---------------------------------->

    <button type="submit" class="btn btn-outline-primary">Рассчитать</button>



</form>

<form action ="add">
    <button type="submit" class="btn btn-outline-primary">История</button>

</form>











</body>

</html>