<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Bootstrap CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
</head>

<tbody>
<div>
    <h4>
        <p class="text-primary">История ввода</p>
    </h4>
    <input type="button" class="btn btn-outline-primary" onclick="history.back();" value="Назад"/>
    <p>&nbsp;</p>

</div>

<!--Добавим фильтр-->

<form method="post" action ="filter">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Фильтр по типу платежа</span>
        </div>
        <input type="number" name="filter" class="form-control" placeholder="Введи 0 или 1: 0 - аннуитетный, 1 - дифференцированный" aria-label="Введи 0 или 1: 0 - аннуитетный, 1 - дифференцированный" aria-describedby="basic-addon1">
        </div>

    <button type="submit" class="btn btn-outline-primary">Найти</button>
</form>
<!---------------------------------->
<table class="table table-hover">


    <thead class="thead-light">
    <tr>

        <th scope="col">Размер кредита</th>
        <th scope="col">Размер первоначального взноса</th>
        <th scope="col">Срок кредитования</th>
        <th scope="col">Тип платежа</th>
        <th scope="col">ставка,% по кредиту</th>
    </tr>
    </thead>
    <tbody>
    {{#baza}}
        <tr>


            <td>{{sizeCredit}}</td>
            <td>{{sizePayment}}</td>
            <td>{{creditPeriod}}</td>
            <td>{{paymentType}}</td>
            <td>{{rate}}</td>
        </tr>
    {{/baza}}

</table>



</tbody>
</html>